{{> header }}
          </div>
          <!-- /.container -->
      </nav>
    </div>
    <!-- Page Content -->
    <div class="container">
      <!-- Jumbotron Header -->
      <!-- <img id="homeImage" src="/images/award.jpg" class="img-responsive" alt="Old Weslaco"> -->

      <div class="homeText">
        <div class="homeTitle">
            JITZ
        </div>
        123 N Main St, Mission, TX 78572
      </div>

</div>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    {{> footer }}
