
<div id="wrapper">
  <div><a href="/hot" target="_blank"><input type="image" src="/images/hot.jpg" name="saveForm" class="btTxt submit" id="menuCircles" /><p class="circleText">Hot Drinks</p></a></div>
  <div><a href="/cold" target="_blank"><input type="image" src="/images/cold.jpg" name="saveForm" class="btTxt submit" id="menuCircles" /><p class="circleText">Cold Drinks</p></a></div>
  <div><a href="/food" target="_blank"><input type="image" src="/images/food.jpg" name="saveForm" class="btTxt submit" id="menuCircles" /><p class="circleText">Food</p></a></div>
  <div><a href="/all" target="_blank"><input type="image" src="/images/swirl.jpg" name="saveForm" class="btTxt submit" id="menuCircles" /><p class="circleText">All Items</p></a></div>
</div>
